p {
  color: red;
  
}
  
 h2, h1 {
    text-align: center;
  }

.center {
  text-align: center;
}

address {
  text-alilgn: center;  
}

table {
  table-layout: auto;
  width: 180px;
  length: 360px;
}


