p {
  color: yellow;
  
}
  
 h2, h1 {
    text-align: center;
  }

.center {
  text-align: center;
}

address {
  text-alilgn: center;  
}

table {
  table-layout: auto;
  width: 700px;
  border-spacing: 0 5px;
  padding: 5px;

}
paddingBetweenCols:td {
  padding:0 500px
}


